<div class="main-container col-12 white-bg ">

<header class="  flex space-between">
    <div class=" m-1 col-3 ">
        <div class="row gap-1" >
             <div 
            class="currency-flag currency-flag-{{selectedFromCurrency |lowercase}} m-2 flex-center "></div>
            <div 
            class="currency-flag currency-flag-{{selectedToCurrency |lowercase}} m-2 flex-center "></div>
        <div class="icon gray grey-1-bg p-1 col-5 ml-1 ">
          <span class="flex-center font-bold">Forex.com</span></div>
        </div>
     
        <h1 class="font-bold m-0" >{{selectedFromCurrency|uppercase }}/ {{selectedToCurrency| uppercase}}</h1>
    
     
</div>
<div class="rate col-3 column m-1">
   
    <span class="font-semibold price">  ${{exchangeRate}}  </span>
     
    <span class="exchange font-semibold green-1  flex"> {{exchangePercentage}} % </span>
 
</div>
</header>
<div class="chart colm-12 mb-1 mt-3 ">
  <p-chart   type="line" [data]="basicData" [options]="chartOptions"></p-chart>
  <ul class="space-around row m-0 p-0 font-bold black">
  
      <li *ngFor="let interval of intervals">
        <button class="btn-black font-bold"  (click)="setSelectedInterval(interval)">
          {{ interval }}
        </button>
      </li>
      
  </ul>
</div>